.pod_details h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.pod_details {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.pod_members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* responsive styles */

@media screen and (max-width: 600px) {
    .pod_details h2 {
        font-size: 1.7rem;
    }
}
